In [1]:
import pandas as pd
import numpy as np

# Part 1 (Basics, strings, lists, tuples, dictionaries)

In [2]:
#Question1
def convert(list_arg):
    l=[] #creating empty list 
    name=list_arg[0:-2] #taking elemnets before transorg and kepeing it into name variable
    title=list_arg[-2:]#taking elemnets from transorg till end and kepeing it into title variable
    
    n=l.append('.'.join(name)) #joining name elements with .and append it to list l
    m=l.append('.'.join(title)) #joining name elements with .and append it to list l
    str='@'.join(l) #joining name elements with '@' and storing it into str variable
    return str

m= ['ajit','singh','transorg','com']
print(convert(m))

ajit.singh@transorg.com

In [3]:
#Question2 - intersection

# l1 = [1,2,3,4,5,6] 
# l2 = [2,3,4,7,8]
#new_list = [2,3,4]


l1 = [1,2,3,4,5,6] 
l2 = [2,3,4,7,8]
new_list=[element for element in l1 if element in l2 ] # iteration over elenment , if present in other list then store
print(new_list)

[2, 3, 4]

In [4]:
#Question3 - remove_duplicates
#l1 = [1,2,2,1,3,4]
#new_list = [1,2,3,4]

def remove_duplicates(list_arg):
    new_list=set(list_arg) #set function remove duplicates
    new_list=list(new_list) #converting into list 
    return(new_list) #returnign list 
l1 = [1,2,2,1,3,4]
print(remove_duplicates(l1))

[1, 2, 3, 4]

In [5]:
#Question4 -second largest number in a list 

l1= [100,101,102,103,104,105]
sort_list=sorted(l1) #Sorted function dsort the elemenst presents in list
print(sort_list[-2])  #print the second last element in the sorted list

104

In [6]:
#question5 - generte list of tuples from dictionary
# d = {1:2,2:3,3:4} new_list = [(1,2), (2,3), (3,4)]
d = {1:2,2:3,3:4}
new_list=list(d.items()) #d.items() gives the key-value pair in the form of tuple

print(new_list)

[(1, 2), (2, 3), (3, 4)]

# Part 2 (Lambda Functions)

In [7]:
#Queston1  - square of elemnts in list 
l1= [1,2,3,4,5,6,7,8,9]
square_list=[ x*x for x in l1]
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
#question2 - smaller among elemnets
# Input: 2,3
# Output: 2
l=[2,3]
from functools import reduce
print(reduce(lambda x,y: min(x,y),l))  #reduce funciton produces single output

2

# Part 3 (Pandas DataFrames)

In [9]:
dict1 = {'ID':[1,2,3,4,5],'Name':['Alpha','Bravo','Charlie','Delta','Echo']}
dict2 = {'ID':[2,2,5,3,1,1,4,4],
'Sport':['Cricket','Football','Basketball','Basketball','Table tennis','Cricket','Football','Basketball']}
dict3 = {'ID':[2,1,3,5,4], 'Marks':[30,' ',85,65,97]}
df1 = pd.DataFrame(data = dict1)
df2 = pd.DataFrame(data = dict2)
df3= pd.DataFrame(data = dict3)
df3['Marks']=np.where(df3['ID']==1,np.nan,df3['Marks'])

In [10]:
#question1
df=df1.merge(df2,how='inner',on='ID')
df

   ID     Name         Sport
0   1    Alpha  Table tennis
1   1    Alpha       Cricket
2   2    Bravo       Cricket
3   2    Bravo      Football
4   3  Charlie    Basketball
5   4    Delta      Football
6   4    Delta    Basketball
7   5     Echo    Basketball

In [11]:
#question 2 - {i}
marks_more_than_80=df3[df3['Marks']>80]
marks_more_than_80

   ID Marks
2   3    85
4   4    97

In [12]:
#Question 2 - {ii}
max_marks=max(df3['Marks'])
min_marks=min(df3['Marks'])
print('max_marks : {} , min_marks : {}'.format(max_marks,min_marks))

max_marks : 97 , min_marks : 30