In [2]:
name=input("name: ")
print("name is: ",name)

name: pop
name is:  pop

In [3]:
type(5.3)

float

In [5]:
type('rahul')

str

In [6]:
type(True)

bool

In [1]:
cron_path=['/home/pratima/TEST_trade_server_configs/options/nse/nemo10.nse.aptportfolio.com/tradesrv2/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo30.nse.aptportfolio.com/tradesrv2/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo93.nse.aptportfolio.com/tradesrv2/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo105.nse.aptportfolio.com/tradesrv1/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo93.nse.aptportfolio.com/tradesrv1/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo25.nse.aptportfolio.com/tradesrv1/cron', '/home/pratima/TEST_trade_server_configs/granite/nse/nemo45.nse.aptportfolio.com/tradesrv2/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo13.nse.aptportfolio.com/tradesrv4/cron', '/home/pratima/TEST_trade_server_configs/epsilon/nse/nemo95.nse.aptportfolio.com/tradesrv3/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo35.nse.aptportfolio.com/tradesrv2/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo81.nse.aptportfolio.com/tradesrv1/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo35.nse.aptportfolio.com/tradesrv5/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo77.nse.aptportfolio.com/tradesrv2/cron', '/home/pratima/TEST_trade_server_configs/granite/nse/nemo45.nse.aptportfolio.com/tradesrv1/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo11.nse.aptportfolio.com/tradesrv3/cron', '/home/pratima/TEST_trade_server_configs/epsilon/nse/nemo209.nse.aptportfolio.com/tradesrv1/cron', '/home/pratima/TEST_trade_server_configs/epsilon/nse/nemo49.nse.aptportfolio.com/tradesrv1/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo85.nse.aptportfolio.com/tradesrv1/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo98.nse.aptportfolio.com/tradesrv2/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo67.nse.aptportfolio.com/tradesrv2/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo57.nse.aptportfolio.com/tradesrv4/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo53.nse.aptportfolio.com/tradesrv2/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo81.nse.aptportfolio.com/tradesrv3/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo57.nse.aptportfolio.com/tradesrv3/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo13.nse.aptportfolio.com/tradesrv2/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo25.nse.aptportfolio.com/tradesrv2/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo53.nse.aptportfolio.com/tradesrv3/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo85.nse.aptportfolio.com/tradesrv4/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo93.nse.aptportfolio.com/tradesrv5/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo105.nse.aptportfolio.com/tradesrv2/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo10.nse.aptportfolio.com/tradesrv3/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo97.nse.aptportfolio.com/tradesrv5/cron', '/home/pratima/TEST_trade_server_configs/epsilon/nse/nemo95.nse.aptportfolio.com/tradesrv1/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo97.nse.aptportfolio.com/tradesrv3/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo13.nse.aptportfolio.com/tradesrv1/cron', '/home/pratima/TEST_trade_server_configs/epsilon/nse/nemo95.nse.aptportfolio.com/tradesrv2/cron', '/home/pratima/TEST_trade_server_configs/epsilon/nse/nemo51.nse.aptportfolio.com/tradesrv1/cron', '/home/pratima/TEST_trade_server_configs/epsilon/nse/nemo27.nse.aptportfolio.com/tradesrv1/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo81.nse.aptportfolio.com/tradesrv4/cron', '/home/pratima/TEST_trade_server_configs/epsilon/nse/nemo77.nse.aptportfolio.com/tradesrv1/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo11.nse.aptportfolio.com/tradesrv1/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo85.nse.aptportfolio.com/tradesrv3/cron', '/home/pratima/TEST_trade_server_configs/epsilon/nse/nemo67.nse.aptportfolio.com/tradesrv1/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo35.nse.aptportfolio.com/tradesrv4/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo97.nse.aptportfolio.com/tradesrv1/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo35.nse.aptportfolio.com/tradesrv3/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo53.nse.aptportfolio.com/tradesrv6/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo25.nse.aptportfolio.com/tradesrv4/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo10.nse.aptportfolio.com/tradesrv1/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo85.nse.aptportfolio.com/tradesrv2/cron', '/home/pratima/TEST_trade_server_configs/epsilon/nse/nemo47.nse.aptportfolio.com/tradesrv4/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo97.nse.aptportfolio.com/tradesrv4/cron', '/home/pratima/TEST_trade_server_configs/epsilon/nse/nemo79.nse.aptportfolio.com/tradesrv1/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo98.nse.aptportfolio.com/tradesrv1/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo53.nse.aptportfolio.com/tradesrv4/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo13.nse.aptportfolio.com/tradesrv3/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo25.nse.aptportfolio.com/tradesrv3/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo93.nse.aptportfolio.com/tradesrv4/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo97.nse.aptportfolio.com/tradesrv2/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo93.nse.aptportfolio.com/tradesrv3/cron', '/home/pratima/TEST_trade_server_configs/options/nse/nemo53.nse.aptportfolio.com/tradesrv1/cron']

In [10]:
config_path=["/".join(path.split("/")[:-1])+'/_config_template.cfg' for path in cron_path]

In [12]:
import pandas as pd

In [35]:
df=pd.read_csv('_config_template.cfg',sep="|",header=None)

df.head()

                 0                   1               2      3   4      5      6      7   8                9             10     11  12            13   14          15
0  connection=35475  __CURRENT_PASS_1__  __NEW_PASS_1__  13871   4  27805  14271  74600   0  382355004002000  172.19.13.85  10825  FO  10.230.41.20   35  AAICA0383M
1  connection=13896  __CURRENT_PASS_1__  __NEW_PASS_1__  13871   5  50600   9104  33800   0  382355005001000     127.0.0.1  10875  CD   10.230.40.5  390  AAICA0383M
2  connection=13748  __CURRENT_PASS_2__  __NEW_PASS_2__  13871   5  50600  11893  33800   0  382355005001000     127.0.0.1  10875  CD  10.230.40.13  390  AAICA0383M

Int64Index([0, 12], dtype='int64')

In [36]:
df.columns=['Dealer_ID','Pass_1','Pass_2','broker','branch','Val','BoxID','Version','Usertype','Comp','IP','Port','Segment','TapIP','TPS','PAN']

In [37]:
df

          Dealer_ID              Pass_1          Pass_2  broker  branch    Val  BoxID  Version  Usertype             Comp            IP   Port Segment         TapIP  TPS         PAN
0  connection=35475  __CURRENT_PASS_1__  __NEW_PASS_1__   13871       4  27805  14271    74600         0  382355004002000  172.19.13.85  10825      FO  10.230.41.20   35  AAICA0383M
1  connection=13896  __CURRENT_PASS_1__  __NEW_PASS_1__   13871       5  50600   9104    33800         0  382355005001000     127.0.0.1  10875      CD   10.230.40.5  390  AAICA0383M
2  connection=13748  __CURRENT_PASS_2__  __NEW_PASS_2__   13871       5  50600  11893    33800         0  382355005001000     127.0.0.1  10875      CD  10.230.40.13  390  AAICA0383M

In [38]:
df[['Dealer_ID','Segment','TapIP','TPS']]

          Dealer_ID Segment         TapIP  TPS
0  connection=35475      FO  10.230.41.20   35
1  connection=13896      CD   10.230.40.5  390
2  connection=13748      CD  10.230.40.13  390

In [40]:
df['Dealer_ID']=df['Dealer_ID'].apply(lambda x : x.split("=")[-1])

In [82]:
df[['Dealer_ID','Segment','TapIP','TPS']]

  Dealer_ID Segment         TapIP  TPS
0     35475      FO  10.230.41.20   35
1     13896      CD   10.230.40.5  390
2     13748      CD  10.230.40.13  390

In [42]:
import os
os.getcwd()

'/home/pkumari'

In [48]:
path='/home/pratima/TEST_trade_server_configs/options/nse/nemo53.nse.aptportfolio.com/tradesrv1/_config_template.cfg'

In [71]:
server=path.split("/")[6].split(".")[0]
team=path.split("/")[4]
ts=path.split("/")[7]

In [79]:
info=server+'|'+team+'|'+ts+'|'

In [80]:
with open('test.cfg','r') as f:
    content=f.readlines()
    
for i in content:
    
    if i.startswith('connection='):
        print(info+(i.strip("\n")))

nemo53|options|tradesrv1|connection=13896|__CURRENT_PASS_1__|__NEW_PASS_1__|13871|5|50600|9104|33800|0|382355005001000|127.0.0.1|10875|CD|10.230.40.5|390|AAICA0383M
nemo53|options|tradesrv1|connection=13748|__CURRENT_PASS_2__|__NEW_PASS_2__|13871|5|50600|11893|33800|0|382355005001000|127.0.0.1|10875|CD|10.230.40.13|390|AAICA0383M

In [ ]:
     server     team tradeserver Dealer_ID Segment           TapIP  TPS
0    nemo10  options   tradesrv2     35475      FO    10.230.41.20   35
1    nemo93  options   tradesrv2     42962      FO     10.236.37.7  390
2    nemo93  options   tradesrv2     42954      FO     10.236.37.8  390
3   nemo105  options   tradesrv1     42927      FO     10.236.50.2  195
4    nemo93  options   tradesrv1     42955      FO     10.236.37.9  390
5    nemo93  options   tradesrv1     42961      FO     10.236.37.6  390
6    nemo25  options   tradesrv1     32926      FO   10.230.40.170  195
7    nemo45  granite   tradesrv2     13857      CD    10.230.40.17  390
8    nemo13  options   tradesrv4     41644      FO    10.230.41.29   95
9    nemo95  epsilon   tradesrv3     39563      CM     10.236.37.3   95
10   nemo35  options   tradesrv2     42957      FO  10.231.114.131  395
11   nemo81  options   tradesrv1     35888      FO     10.230.40.6  195
12   nemo35  options   tradesrv5     14967      CD  10.231.114.133  195
13   nemo77  options   tradesrv2     42868      FO   10.230.40.157  195
14   nemo77  options   tradesrv2     32976      FO   10.230.40.171  195
15   nemo77  options   tradesrv2     42867      FO   10.230.40.152  195
16   nemo77  options   tradesrv2     33604      FO   10.230.40.141  195
17   nemo77  options   tradesrv2     42854      FO   10.230.40.151  195
18   nemo77  options   tradesrv2     32019      FO   10.230.40.134  195
19   nemo77  options   tradesrv2     42853      FO   10.230.40.153  195
20   nemo77  options   tradesrv2     37675      FO   10.230.40.132  195
21   nemo45  granite   tradesrv1     13896      CD     10.230.40.5  390
22   nemo45  granite   tradesrv1     13748      CD    10.230.40.13  390
23   nemo11  options   tradesrv3      3491      CD     10.230.41.6  395
24   nemo11  options   tradesrv3     13088      CD     10.230.41.8  395
25  nemo209  epsilon   tradesrv1     42963      FO     10.236.50.6   95
26   nemo49  epsilon   tradesrv1     37668      FO   10.230.40.133   95
27   nemo85  options   tradesrv1     39006      CM     10.230.40.3  395
28   nemo98  options   tradesrv2     42852      FO     10.236.37.5  195
29   nemo67  options   tradesrv2     33765      FO    10.230.40.19  195

In [96]:
df_1=pd.read_csv('test.csv',sep="|",header=None)

In [97]:
df_1

          0        1          2                 3                   4               5      6   7      8      9      10  11               12            13     14  15            16   17          18
0     nemo10  options  tradesrv2  connection=35475  __CURRENT_PASS_1__  __NEW_PASS_1__  13871   4  27805  14271  74600   0  382355004002000  172.19.13.85  10825  FO  10.230.41.20   35  AAICA0383M
1     nemo93  options  tradesrv2  connection=42962  __CURRENT_PASS_1__  __NEW_PASS_1__  13871   4  27805  28659  74600   0  382355004003000  172.19.13.85  10825  FO   10.236.37.7  390  AAICA0383M
2     nemo93  options  tradesrv2  connection=42954  __CURRENT_PASS_2__  __NEW_PASS_2__  13871   4  27805  28656  74600   0  382355004003000  172.19.13.85  10825  FO   10.236.37.8  390  AAICA0383M
3    nemo105  options  tradesrv1  connection=42927  __CURRENT_PASS_1__  __NEW_PASS_1__  13871   4  27805  28582  74600   0  382355004002000     127.0.0.1  10825  FO   10.236.50.2  195  AAICA0383M
4     nemo93  options  tradesrv1  connection=42955  __CURRENT_PASS_1__  __NEW_PASS_1__  13871   4  27805  28655  74600   0  382355004003000  172.19.13.85  10825  FO   10.236.37.9  390  AAICA0383M
..       ...      ...        ...               ...                 ...             ...    ...  ..    ...    ...    ...  ..              ...           ...    ...  ..           ...  ...         ...
97    nemo93  options  tradesrv4  connection=42810  __CURRENT_PASS_2__  __NEW_PASS_2__  13871   4  27805  29050  74600   0  382355004003000  172.19.13.85  10825  FO  10.236.37.13  390  AAICA0383M
98    nemo97  options  tradesrv2  connection=42922  __CURRENT_PASS_1__  __NEW_PASS_1__  13871   4  27805  28584  74600   0  382355004002000  172.19.13.85  10825  FO   10.236.50.4  390  AAICA0383M
99    nemo97  options  tradesrv2  connection=42927  __CURRENT_PASS_2__  __NEW_PASS_2__  13871   4  27805  28582  74600   0  382355004002000  172.19.13.85  10825  FO   10.236.50.2  390  AAICA0383M
100   nemo93  options  tradesrv3  connection=37898  __CURRENT_PASS_1__  __NEW_PASS_1__  13871   4  27805  29048  74600   0  382355004003000  172.19.13.85  10825  FO  10.236.37.11  395  AAICA0383M
101   nemo53  options  tradesrv1  connection=37718  __CURRENT_PASS_1__  __NEW_PASS_1__  13871   4  27805  24600  74600   0  382355004002000  172.19.13.85  10825  FO  10.230.41.12  395  AAICA0383M

[102 rows x 19 columns]

In [99]:
df_1.columns=['server','team','tradeserver','Dealer_ID','Pass_1','Pass_2','broker','branch','Val','BoxID','Version','Usertype','Comp','IP','Port','Segment','TapIP','TPS','PAN']

In [101]:
df_1['Dealer_ID']=df_1['Dealer_ID'].apply(lambda x : x.split("=")[-1])

In [102]:
df_2=df_1[['server','team','tradeserver','Dealer_ID','Segment','TapIP','TPS']]

     server     team tradeserver Dealer_ID Segment           TapIP  TPS
0    nemo10  options   tradesrv2     35475      FO    10.230.41.20   35
1    nemo93  options   tradesrv2     42962      FO     10.236.37.7  390
2    nemo93  options   tradesrv2     42954      FO     10.236.37.8  390
3   nemo105  options   tradesrv1     42927      FO     10.236.50.2  195
4    nemo93  options   tradesrv1     42955      FO     10.236.37.9  390
5    nemo93  options   tradesrv1     42961      FO     10.236.37.6  390
6    nemo25  options   tradesrv1     32926      FO   10.230.40.170  195
7    nemo45  granite   tradesrv2     13857      CD    10.230.40.17  390
8    nemo13  options   tradesrv4     41644      FO    10.230.41.29   95
9    nemo95  epsilon   tradesrv3     39563      CM     10.236.37.3   95
10   nemo35  options   tradesrv2     42957      FO  10.231.114.131  395
11   nemo81  options   tradesrv1     35888      FO     10.230.40.6  195
12   nemo35  options   tradesrv5     14967      CD  10.231.114.133  195
13   nemo77  options   tradesrv2     42868      FO   10.230.40.157  195
14   nemo77  options   tradesrv2     32976      FO   10.230.40.171  195
15   nemo77  options   tradesrv2     42867      FO   10.230.40.152  195
16   nemo77  options   tradesrv2     33604      FO   10.230.40.141  195
17   nemo77  options   tradesrv2     42854      FO   10.230.40.151  195
18   nemo77  options   tradesrv2     32019      FO   10.230.40.134  195
19   nemo77  options   tradesrv2     42853      FO   10.230.40.153  195
20   nemo77  options   tradesrv2     37675      FO   10.230.40.132  195
21   nemo45  granite   tradesrv1     13896      CD     10.230.40.5  390
22   nemo45  granite   tradesrv1     13748      CD    10.230.40.13  390
23   nemo11  options   tradesrv3      3491      CD     10.230.41.6  395
24   nemo11  options   tradesrv3     13088      CD     10.230.41.8  395
25  nemo209  epsilon   tradesrv1     42963      FO     10.236.50.6   95
26   nemo49  epsilon   tradesrv1     37668      FO   10.230.40.133   95
27   nemo85  options   tradesrv1     39006      CM     10.230.40.3  395
28   nemo98  options   tradesrv2     42852      FO     10.236.37.5  195
29   nemo67  options   tradesrv2     33765      FO    10.230.40.19  195

In [109]:
df_options=df_2[df_2['team']=='options']

In [123]:
df_3

     server     team tradeserver Dealer_ID Segment         TapIP  TPS
77   nemo10  options   tradesrv1     28509      FO  10.230.41.11   35
0    nemo10  options   tradesrv2     35475      FO  10.230.41.20   35
44   nemo10  options   tradesrv3     42817      FO  10.230.41.39   35
3   nemo105  options   tradesrv1     42927      FO   10.236.50.2  195
43  nemo105  options   tradesrv2     42922      FO   10.236.50.4  195
..      ...      ...         ...       ...     ...           ...  ...
85   nemo97  options   tradesrv4     43304      FO  10.236.50.10  390
45   nemo97  options   tradesrv5     43305      FO  10.236.50.11  390
46   nemo97  options   tradesrv5     43306      FO  10.236.50.12  390
87   nemo98  options   tradesrv1     42841      FO   10.236.37.4  195
28   nemo98  options   tradesrv2     42852      FO   10.236.37.5  195

[81 rows x 7 columns]

In [124]:
team=input('team : ')
df_3=df_2[df_2['team']==team].sort_values(by=['server','tradeserver'])

team : options

In [127]:
df_3.reset_index(inplace=True)

In [128]:
df_3.drop('index',axis=1,inplace=True)

In [129]:
pd.set_option('max_rows')

     server     team tradeserver Dealer_ID Segment         TapIP  TPS
0    nemo10  options   tradesrv1     28509      FO  10.230.41.11   35
1    nemo10  options   tradesrv2     35475      FO  10.230.41.20   35
2    nemo10  options   tradesrv3     42817      FO  10.230.41.39   35
3   nemo105  options   tradesrv1     42927      FO   10.236.50.2  195
4   nemo105  options   tradesrv2     42922      FO   10.236.50.4  195
..      ...      ...         ...       ...     ...           ...  ...
76   nemo97  options   tradesrv4     43304      FO  10.236.50.10  390
77   nemo97  options   tradesrv5     43305      FO  10.236.50.11  390
78   nemo97  options   tradesrv5     43306      FO  10.236.50.12  390
79   nemo98  options   tradesrv1     42841      FO   10.236.37.4  195
80   nemo98  options   tradesrv2     42852      FO   10.236.37.5  195

[81 rows x 7 columns]